*{
    margin:0px;
    font-family: 'Raleway', sans-serif;
}

/* Menu superior */
#logo{
    width: 100px;
    margin-left: 30px;
}
#titulo-menu-superior{
    color: white;
    margin-left: 20px;
    font-size: 30px;
}
#menu-superior{
    padding: 0px;
    display: flex;
    grid-auto-flow: column;
    columns: auto;
    background-color: #303030;
    align-items: center;
}

/* Menu esquerda */
#menu-esquerda{
    text-align: center;
    margin-left: 0px;
    width: 650px;
}

#texto-menu-esquerda{
    color: #265E70;
    font-size: 32px;
    margin-left: 0px;
    margin-top: 20px;
}
#img-menu-esquerda{
    margin-top: 0px;
    width: 500px;
}

/* Menu Direito */
#menu-direito{
    text-align: center;
    margin-right: 0px;
    margin-top: 20px;
    
}
#texto-menu-direito{
    color: #265E70;
    font-size: 32px;
}
#texto-menu-direito strong{
    color: #4DBCE9BF;
}
.img-direita{
    width: 450px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
}
#infos-menu-direita{
    margin-top: 40px;
    display: flex;
    grid-auto-flow: column;
    column: auto;
}
#img-cb500{
    display: none;
}
.seta{
    cursor: pointer;
}
.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

button{
    width: 250px;
    height: 50px;
    font-size: 32px;
    color: #ffffff;
    background-color: #4DBCE9BF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;
    box-shadow: 1.5px 1.5px 0px 1.5px rgb(99, 98, 98); 
}
#overlay{
    display: none;
}
#info-moto {
    position: fixed; /* Mantém a div fixa na tela */
    background-color: rgba(77, 188, 233); /* Cor com transparência */
    width: 600px;
    height: 500px;
    text-align: center;
    color: #ffffff;
    display: flex; /* Centraliza o conteúdo interno */
    flex-direction: column; /* Mantém o conteúdo organizado em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    border-radius: 15px;
    z-index: 1001; /* Um nível acima do overlay */
    left: 50%; /* Move a div para o centro da tela */
    top: 50%;
    transform: translate(-50%, -50%); /* Ajusta para ficar exatamente no meio */
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Efeito de sombra */
}
#escurecer-tela{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurece a tela */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifica que está abaixo da div */
}
#fechar-overlay{
    cursor: pointer;
    margin-top: 7%;
    margin-left:90%;   
}
#fechar-overlay:hover{
    transform: translateY(-3px);
    transition-duration: 0.5s;

}
#titulo-info{
    font-size: 28px;
    margin-bottom: 20px;

}
#texto-info{
    font-size: 18px;
}
#info-moto button{
    background-color: #ffffff;
    color: #4DBCE9BF;
    margin-top: 50px;
}
#foto-moto{
    width: 400px;
}

#menus{
    display: flex;
    grid-auto-flow: column;
    columns: auto;
}